REDIS_PASS=
REDIS_CONN_STR=redis:6379

LOG_LEVEL=debug #possible values panic, fatal, error, warn, info, debug, trace

ERPLY_CLIENT_CODE=YOUR_CLIENT_ID
ERPLY_USERNAME=YOUR_LOGIN
ERPLY_PASS=YOUR_PASS
ERPLY_API_URL=https://YOUR_CLIENT_ID.erply.com/api/
ERPLY_CLIENT_IS_VERBOSE=false
ERPLY_DATA_CACHE_TTL_SECONDS=3600

REST_SERVER_PORT=8082

DOCS_PATH=/app/apidoc

AUTH_REALM=testing
AUTH_SECRET=fajdflsjflsadjfsa
